/* Paginado.css */
.paginado {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.number {
    display: inline-block;
    margin: 2px;
    padding: 6px;
    background-color: #404040;
    color: #fff;
    border: 1px solid #3498db;
    cursor: pointer;
    border-radius: 4px;
}

.number:hover {
    background-color: #2980b9;
}
